.wrapper {
    margin-top: 10px;
    border-top: 1px solid #e3e3e4;
}

.label {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    padding: 8px;
}

.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    transition: background-color ease-in-out 0.2s;

    &:hover {
        background-color: rgb(22, 24, 35, 0.03);
    }
}

.menu-popper {
    width: 100%;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
}

.username {
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 1.2;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}

.name {
    font-size: 1.2rem;
    color: #161823bf;
}

.expandable {
    padding: 8px;
    color: var(--primary);
    cursor: pointer;
}
