@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video:hover ~ .controls {
    opacity: 1;
    visibility: visible;
}

// Controls
.controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 6px;
    color: var(--white-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s, visibility 0.25s;

    &:hover {
        opacity: 1;
        visibility: visible;
    }

    .more {
        position: absolute;
        top: 6px;
        right: 6px;
        &:hover {
            background-color: rgba(225, 225, 225, 0.19);
        }
    }

    .speaker {
        background-color: transparent;
        position: relative;

        &:hover .range {
            visibility: visible;
            opacity: 1;
        }

        .range {
            @include center;
            position: absolute;
            right: -62px;
            top: 10px;
            width: 64px;
            height: 24px;
            border-radius: 99px;
            background: rgba(22, 24, 35, 0.34);
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.25s, opacity 0.25s;
        }
    }
}

.more,
.speaker {
    @include center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}

.speaker-range {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 2px;
    background: #fff; /* Màu của thanh trượt */
    border-radius: 5px;
    outline: none;
    transition: 'background' 0.3s;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 11px;
        height: 11px;
        background: #fff; /* Màu của nút kéo */
        border-radius: 50%;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 11px;
        height: 11px;
        background: #fff; /* Màu của nút kéo */
        border-radius: 50%;
        cursor: pointer;
    }
}

// Playback
.pause,
.play {
    @include center();
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: rgba(22, 24, 35, 0.34);
    color: #fff;
    font-size: 42px;
    animation: scale 0.4s linear;
}

@keyframes scale {
    from {
        scale: 1;
    }
    to {
        scale: 2;
    }
}

// Video progress
.progress {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    bottom: 6px;
    left: 0;
    border-radius: 0 0 99px 99px;
    width: 100%;
    height: 4px;
    background-color: #ccc;

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
        background: var(--white-color);
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.25s, visibility 0.25s;
        margin-top: -4px;
        cursor: pointer;
    }

    &:hover {
        height: 6px;
    }

    &:hover::-webkit-slider-thumb {
        opacity: 1;
        visibility: visible;
    }
}
