.video-item {
    height: calc(100vh - var(--default-layout-header-hight));
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-wrap {
    display: flex;
    height: 96%;
    column-gap: 20px;
}

.video-block {
    height: 100%;
    width: calc((100vh - var(--default-layout-header-hight)) / 1.77775);
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-actions {
    margin-top: auto;
}

.profile {
    position: relative;
    margin-bottom: 28px;
    cursor: pointer;

    .follow {
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50% -70%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white-color);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--primary);
    }

    &:hover {
        opacity: 0.9;
    }
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--secondary);
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}

.statistic {
    margin: 4px 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.33333;
}

.share {
    margin-left: 2px;
    margin-top: 2px;
}

.music-cover-disc {
    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}
