.wrapper {
    --search-btn-width: 52px;
    --search-separate: 28px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    height: var(--default-layout-header-hight);
    box-shadow: 0px 1px 1px rgba(0 0 0 / 12%);
    width: 100%;
    background-color: #fff;
}

.container {
    width: var(--default-layout-header-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    display: flex;
}

// Actions
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    color: var(--text-color);
    padding: 4px 12px;
    cursor: pointer;
}

.activity {
    position: relative;

    &::before {
        --height: 16px;

        position: absolute;
        top: 2px;
        left: 50%;
        content: '12';
        font-size: 1.1rem;
        font-weight: 600;
        color: var(--white-color);
        text-align: center;
        line-height: var(--height);
        width: 22px;
        height: var(--height);
        border-radius: 99px;
        background-color: var(--primary);
    }
}

.user-avatar {
    margin-left: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.menu {
    cursor: pointer;
    margin-left: 16px;
    padding: 8px 16px;
}
