@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Base
:root {
    --primary: #ff3b5c;
    --black: #000;
    --text-color: #333;

    --default-layout-header-hight: 60px;
    --default-layout-header-width: 1150px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', serif;
    font-optical-sizing: auto;
    font-size: 1.6rem;
    line-height: 1.5;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
}

input,
button,
[tabIndex] {
    border: none;
    outline: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}
