.wrapper {
    padding: 20px;
    width: 330px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.follow-btn {
    height: 34px;
}

.body {
    margin-top: 12px;
}

.user-name {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}

.name {
    font-size: 1.4rem;
}

.statistic {
    font-size: 1.8rem;
    margin-top: 10px;
}

.value ~ .value {
    margin-left: 20px;
}
